/*
Стили компонента Header
*/
.app-header {
  background-color: #9ad1d4;
  min-height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-left: 2%;
}

/*
Стили мейн контента
*/
.synth-options {
  margin: 20px 2% 0 2%;
  display: flex;
  justify-content: space-between;
}

/*
Стили компонента Loader
*/
.loaderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px dashed #9ad1d4;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Стили блока с выбором инструмента
*/
.instruments {
  display: flex;
  flex-direction: column;
}

/*
Стили блока создания своего синтезатора
*/
.synth-creation {
  display: flex;
  flex-direction: column;
}

.synth-creation-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.synth-color {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.synth-color-selection {
  display: flex;
  gap: 5px;
}

.synth-color-preview {
  height: 50px;
  width: 50px;
  border: black solid 1px;
  border-radius: 10%;
}

.synth-options {
  display: flex;
}

.synth-meta {
  display: flex;
  flex-direction: column;
}