* {
    box-sizing: border-box;
}

body {
    background-color: #ccdbdc;
    margin: 0;
}

header {
    background-color: #9ad1d4;
    margin-bottom: 20px;
    padding: 30px;
    font-size: 32px;
}

button {
    margin: 0;
    padding: 0;
}