/*
Стили компонента TimelineController
*/
.timeline_controlButtons {
    margin: 10px 0 10px 0;
    
}
.controlButtonTimeline{
    white-space: nowrap;
    margin: 0px;
    margin-right: 0px;
    background-color: rgb(84, 209, 179);
    border: none;
    font-family:'Kelly Slab';
    font-size: 16px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.controlButton {
    margin-right: 0px;
    background-color: rgb(84, 209, 179);
    outline: none;  
    border: none;
    font-family:'Kelly Slab';
    font-size: 16px;
    width: 80px;
}

/*
Стили компонента Timeline
*/
.timeline {
    padding-left: 20px;
    padding-right: 20px;
}

.timeline_container {
    background-color: #fff;
    display: flex;
    min-height: 10vh;
    margin: 0% 0px 20px 0px;
}

.timeline_note_cell {
    background-color: cornsilk;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    min-height: 22px;
    
}

.timeline_column {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}


/*
Стили компонента Cell
*/
.timeline_cell {
    background-color: #fff;
    flex: 1 1 0%;
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    border: solid 1px black;
    min-height: 22px;
}

.timeline_cell:hover {
    background-color: rgb(255, 186, 37);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.timeline_cell_picked {
    background-color: #00bfbf;
}


/*
Стили компонента TimelineList
*/
.trackButton {
    background-color: #dedede;
    transition: background-color 0.2s ease-in-out;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.trackButton:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.trackButton_active {
    background-color: #fff;
}